{% extends "base.html" %}

{% block content %}
<div class="overflow-x-auto">
    <table class="table w-full ">
        <thead>
            <tr>
                <th class="text-lg font-semibold">Idea</th>
                <th class="text-lg font-semibold hidden sm:table-cell">Description</th>
                <th class="text-lg font-semibold hidden xl:table-cell">Labels</th>
                <th class="text-lg font-semibold w-32 sm:w-40">Actions</th>
            </tr>
        </thead>
        <tbody id="sortable-ideas">
            {% for idea in ideas %}
            <tr data-id="{{ idea.id }}" class=" transition-colors duration-150 ease-in-out cursor-move border-b border-gray-600">
                <td>{{ idea.name }}</td>
                <td class="hidden sm:table-cell">{{ idea.description|truncatewords:20 }}</td>
                <td class="hidden xl:table-cell">
                    {% for label in idea.labels.all %}
                        <a href="{% url 'label_ideas' label.name %}" class="badge badge-outline">{{ label.name }}</a>
                    {% endfor %}
                </td>
                <td class="w-32 sm:w-40">
                    <div class="flex flex-col space-y-2">
                        <a href="{% url 'idea_detail' idea.id %}" class="btn btn-sm btn-primary w-full">View</a>
                        <button class="btn btn-sm btn-error delete-btn bg-red-600 w-full" data-id="{{ idea.id }}">Delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_body %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const table = document.querySelector('table');
        const sortableList = document.getElementById('sortable-ideas');
    
        new Sortable(sortableList, {
            animation: 150,
            onEnd: function (evt) {
                const itemEl = evt.item;
                const newIndex = evt.newIndex;
                updateIdeaOrder(itemEl.dataset.id, newIndex);
            }
        });
    
        table.addEventListener('click', function(e) {
            if (e.target.classList.contains('delete-btn')) {
                if (confirm('Are you sure you want to delete this idea?')) {
                    deleteIdea(e.target);
                }
            }
        });
    
        function deleteIdea(button) {
            const ideaId = button.dataset.id;
    
            fetch(`/delete-idea/${ideaId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    button.closest('tr').remove();
                } else {
                    console.error('Failed to delete idea');
                }
            });
        }
    
        function updateIdeaOrder(ideaId, newIndex) {
            fetch(`/update-idea-order/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    ideaId: ideaId,
                    newIndex: newIndex
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status !== 'success') {
                    console.error('Failed to update idea order');
                }
            });
        }
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}
