{% extends "landing_base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8 md:py-16 text-center max-w-md mx-auto my-auto p-12">
    <div class="w-4/5 mx-auto my-64 bg-white rounded-lg shadow-md p-12 border-2 border-primary">
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="flex justify-center">
                <input type="email" name="{{ form.username.name }}" placeholder="Email" required class="w-4/5 p-2 border-2 border-primary bg-white text-black rounded text-center">
            </div>
            <div class="flex justify-center">
                <input type="password" name="{{ form.password.name }}" placeholder="Password" required class="w-4/5 p-2 border-2 border-primary bg-white text-black rounded text-center">
            </div>
            <div class="flex justify-center">
                <button type="submit" class="w-2/5 py-2 px-6 bg-primary text-white border-2 border-primary rounded ">Login</button>
            </div>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'forgot_password' %}" class="text-sm text-gray-600 hover:underline">Forgot Password?</a>
        </div>
        <div class="mt-2 text-center">
            <a href="{% url 'register' %}" class="text-sm text-gray-600 hover:underline">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
